body{
    background-color: black;
}

div{
    margin-top: 200px;
    margin-left: 200px;
}
div span{
    box-shadow: 0 10px 10px black;
    padding: 15px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border: 3px solid white;
    border-radius: 10px;
    display: inline-block;
    animation: move 1s infinite linear;
    color:white;
}
@keyframes move{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }

}
div span:nth-child(1){
    animation-delay: 0.1s;
    background-color: orange;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(2){
    animation-delay: 0.2s;
    background-color: greenyellow;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(3){
    animation-delay: 0.3s;
    background-color:purple ;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(4){
    animation-delay: 0.4s;
    background-color: palevioletred;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(5){
    animation-delay: 0.5s;
    background-color: rgb(237, 202, 137);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(6){
    animation-delay: 0.6s;
    background-color: palegreen;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(7){
    animation-delay: 0.7s;
    background-color: blueviolet;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(8){
    animation-delay: 0.8s;
    background-color: rgb(170, 171, 238);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(9){
    animation-delay: 0.9s;
    background-color: rgb(0, 255, 200);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(10){
    animation-delay: 0.10s;
    background-color: rgb(38, 193, 27);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(11){
    animation-delay: 0.11s;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(12){
    animation-delay: 0.12s;
    background-color: rgb(187, 255, 0);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(13){
    animation-delay: 0.2s;
    background-color: #00ff08;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(14){
    animation-delay: 0.3s;
    background-color: hsl(27, 100%, 50%);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(15){
    animation-delay: 0.4s;
    background-color: #ff0062;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(16){
    animation-delay: 0.5s;
    background-color: rgba(5, 233, 130, 0.918);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(17){
    animation-delay: 0.6s;
    background-color: rgb(228, 55, 196);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(18){
    animation-delay: 0.7s;
    background-color: #f5dbac;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(19){
    animation-delay: 0.8s;
    background-color: rgb(119, 113, 102);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(20){
    animation-delay: 0.9s;
    background-color: rgb(24, 187, 157);
    box-shadow: 0 10px 10px red;
}
div span:nth-child(21){
    animation-delay: 0.10s;
    background-color: #008cff;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(22){
    animation-delay: 0.12s;
    background-color: #d05e5e;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(23){
    animation-delay: 0.13s;
    background-color: #ff0066;
    box-shadow: 0 10px 10px red;
}
div span:nth-child(24){
    animation-delay: 0.14s;
    background-color: #00ff15;
    box-shadow: 0 10px 10px red;
}
.circle{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle1{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 20%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle2{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 25%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle3{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 30%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle4{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 35%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle5{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 40%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle6{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 45%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle7{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 50%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle8{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -12%;
    margin-left: 55%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

    
}
.circle9{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -12%;
    margin-left: 60%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle10{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -12%;
    margin-left: 65%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle11{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 70%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle12{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 75%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle13{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 80%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.circle14{
    width:100px;
    height:100px;
    background-color: gray;
    border-radius: 50%;
    border-top: 20px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 30px solid purple;
    box-shadow: 0 0 10px black;
    animation: rotate-clock 2s infinite linear;
    margin-top: -10%;
    margin-left: 85%;
}
@keyframes rotate-clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}